body {
    margin: 0px;
    background-color: #ffffff;
    overflow: hidden;
}
canvas { width: 100%; height: 100% }

a:link, a:visited, a:focus {
    color:#369;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background-color:#333;
    color:#eee;
}

table {
    font-size:14px;
}

.center {
    margin:0 auto;
    text-align: center;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.w400 {
    width:400px;
}

.h200 {
    height:200px;
}

.margin4 {
    margin:4px;
}

.svg-canvas {
    border:1px solid #333;
    background-color:#f0f0f0;
    margin:4px;
}

.hidden {
    display: none;
}

#model-selector {
    position: absolute;
    top:10px;
    left:10px;
    max-width: 240px;
}

#help {
    position: absolute;
    top:4px;
    right: 4px;
    font-size:13\2px;
    padding:4px;
    background-color: rgba(255, 255, 255, 0.4);                
}

#copyright {
    position: absolute;
    bottom:4px;
    right:4px;
    font-size:12px;
}

#title {
    position: absolute;
    top:4px;
    left:45%;                
    font-weight: bold;                
}
